body {

    background: linear-gradient(to right, rgb(134, 107, 107), rgb(153, 123, 76));



}

h2 {
    text-align: center;

}


.admin {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(11, 62, 132, 0.37);
    backdrop-filter: blur(10px);
    background-color: rgb(209, 209, 209);
    border: 1px solid rgba(27, 164, 0, 0.18);
    text-align: center;
    width: 440px;
    justify-content: center;
    justify-items: center;
    margin: auto;
    height: auto;
    margin-top: 90px;



}

.admin h1:hover {
    color: rgb(214, 106, 106);
    transition: cubic-bezier(0.77, 0, 0.175, 1);
    transition-duration: 1s;
}

.admin input {
    border-radius: 10px;

    margin-top: 10px;

}

.admin input:hover {
    background-color: rgb(234, 240, 241);
    text-align: center;
}

.admin button {
    border-radius: 10px;

    margin-top: 10px;
}

.admin button:hover {
    background-color: rgb(101, 126, 120);
}

select {
    width: 190px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    height: 26px;
    font-size: 15px;
}

option {
    width: 190px;
    border: 2px solid black;
    border-radius: 8px;
}


.navbar {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    display: flex;
    gap: 2.3rem;

    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(209, 209, 209);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);


}

.navcontent:hover {
    color: aqua;
}




.navsearch {
    align-items: center;
    justify-content: right;
    justify-items: flex-end;
    display: flex;

    gap: 1.3rem;
    margin-right: 20px;

}

.navsearch input {
    justify-content: right;
    margin-left: 500px;
}

.toggle input {
    margin: 0px;

}


.category-list {
    display: flex;
    gap: 25px;
    margin-top: 12vh;
    margin-right: 1rem;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    transition: border-bottom 0.2s ease;
}

.category-list:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.cate-menu{
    display: flex;
    flex-direction: column;
}


img{
    width: 50px;
    justify-content:center;
    margin: auto;
    
}

.card {

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(11, 62, 132, 0.37);
    backdrop-filter: blur(10px);
    display: flex;
    overflow: hidden;
    height: 400px;
    width: 300px;
    margin: 50px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.card button {
    border-radius: 10px;
    font-variant: small-caps;
    font-style: oblique;
}

.card button:hover {
    background-color: rgb(84, 95, 56);
    border-radius: 30px;
}

.reg-card {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 39px rgba(0, 12, 29, 0.37);
    backdrop-filter: blur(10px);
    background-color: rgb(209, 209, 209);
    border: 1px solid rgba(27, 164, 0, 0.18);
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    padding-top: 50px;

}

.reg-card input {
    border-radius: 10px;
    margin: 10px;
    text-align: center;

    background-color: #bbb6b6;
}

.reg-card button:hover {
    border-radius: 20px;
    background-color: #bbb6b6;
}

.reg-card a {
    text-decoration: none;
    color: rgb(0, 9, 174);
    font-size: larger;
    transition: 0.1s ease;
}

.reg-card a:hover {
    font-size: large;
    background: rgb(181, 179, 179);
    border-radius: 5px;
    transform: scale(1.5);
}

.cart-details{
    margin-top: 80px;
    
}
.container{
    display: flex;
    gap: 6px;
}

.cart{
    height: auto;
    width: 100%;
    margin: 0px;
    transition: 0.7sec;
}
.cart:hover{
    transform: scale(1.2);
}

.cartimage{
     width: 100%;
    
}
.cart-text{
    
}