
body{
    background: #e7baba;
    display: flex;
    justify-content: center;
}
.body{
    margin-top:  100px;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #e7baba;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    
   height: auto;
   width: 100vw;
}
.adminpage{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin{
     border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(11, 62, 132, 0.37);
    backdrop-filter: blur(10px);
    background-color: #efd7d7;
    border: 1px solid rgba(27, 164, 0, 0.18);
    text-align: center;
    
    padding-top: 50px;
    /* position: fixed;
    right: 35% */
    
}

input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 32px rgba(109, 133, 167, 0.37);
    backdrop-filter: blur(10px);
}

input::placeholder{
    color: rgb(192, 164, 164);    
}

.navbar{
    width: 100%;
    height: 60px;
    
    display: flex;
    align-items: right;
    justify-content: space-around;
    
}

.card{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(11, 62, 132, 0.37);
    backdrop-filter: blur(10px);
    display: flex;    
    overflow: hidden;
    height: 400px;
}

/* @media (max-width: 1000px) {
    .body{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100vw;
    }
    .card{
        margin-bottom: 20px;
        height: auto;
        width: 90vw;
    }
    .admin{
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-top: 290px;
    }
} */

.reg-card{
     border-radius: 20px;
    /* padding: 30px; */
    box-shadow: 0 8px 32px rgba(11, 62, 132, 0.37);
    backdrop-filter: blur(10px);
    background-color: white;
    border: 1px solid rgba(27, 164, 0, 0.18);
    text-align: center;
    width:fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    padding-top: 50px;

}